<%if @entry.errors.any? %>
	<ul>
		<% @entry.errors.full_messages.each do |errors_msg| %>
		<li><%= errors_msg %></li>
		<% end %>
	</ul>
<% end %>

<%= render 'form'%>
<br>
<h4><%= link_to("Cancel", project_entries_path)%></h4>