<h1>Projects list</h1>
	<ul>
		<%@projects.each do |project|%>
			<li><%= image_tag project.logo.url(:thumb)%><%= link_to(project.name, project_entries_path(project))%>
				<% if project.description.present?%>
			-<%= project.description%>
			<%end%>
			</li>
		<%end%>
	</ul>
	<h4><%= link_to("Create new project", new_project_path)%></h4>
